.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page-container {
  text-align: center;
}

.news-form {
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.news-form-headline {

}

.news-string {
  padding: 1em;
  margin: 1em;
  background-color: lightgrey;
  border-radius: 0.3em;
}

.page-header {
  text-decoration: underline;
  text-decoration-color: gold;
}

.player {
  padding: 1em;
  margin: 1em;
  border-radius: 0.3;
  width: 100%;
  height: auto;
}

.player-container {
  align-self: center ;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
